button {
  position: relative;
  bottom: 400px;
  right: -270px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  font-size: 20px;
}


canvas {
  position: relative;
  top: 28px;
  right: -225px;
}